.documentation_section {
    // border: 1px solid red;
    // my-4 flex justify-center items-center p-4
    // margin:0rem 2rem;
    width: 100%;
    // border:1px solid red;
    // padding:1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .content {
        width: 80%;
        // border:1px solid blue;
        // border: 1px solid blue;
        @media (max-width: 1000px) {
            width: 90%;
        }

        @media (max-width: 800px) {
            width: 92%;
            // border:1px solid green;
        }

        .body {
            width: 100%;
            .document {
                // width:100%;
                box-shadow: common.$boxShadow3;
                border: 1px solid black;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                // border-radius: 0.5rem;
                overflow: hidden;

                @media (max-width: 800px) {
                    grid-template-columns: 1fr;
                }

                // border:1px solid red;
                .left_side {
                    // width:35rem;

                    .description {
                        h4 {
                            // border:1px solid red;
                            word-break: keep-all;
                        }

                        code {
                            // border:1px solid red;
                            background-color: 	rgb(240,240,240);
                            padding: 0.2rem 0.4rem;
                            border-radius: 0.2rem;
                        }
                    }
                    // border:1px solid red;
                    // border-right: 1px solid gray;
                }
                .right_side {
                    // background-color: lightgray;
                    // border-left:1px solid lightgray;
                    background-color: ghostwhite;
                    box-shadow: common.$boxShadow4;
                }
            }
        }
    }
}
