.nav_container {
    width: 100%;
    background-color: white;
    border-bottom: 2px solid lightgray;
    // box-shadow: common.$boxShadow1;
    background-color: white;
    display: flex;
    justify-content: center;
    position: sticky;
    top:0;
    z-index: 10;
    

    .content {
        // width: 100%;
        background-color: white;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;

        width: 80%;
        padding:0.8rem;
        // border: 1px solid red;

        @media (max-width: 1000px) {
            width: 90%;
        }

        @media (max-width: 800px) {
        }

        .left_nav {
            display: flex;
            align-items: center;

            .logo {
                display: flex;
                align-items: center;

                .logo_title {
                    width: 100%;
                    margin: 0px 0.8rem;
                    display: flex;
                    place-items: center;
                    font-size: 1.4rem;
                    margin-bottom: 0.5rem;

                    h1 {
                        font-family: myFont;
                    }

                    
                }

                // .image{
                //     img{
                //         width:4rem;
                //         height:4rem;
                //         border:1px solid red;
                //     }
                // }
            }

            .links {
                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }

                @media (max-width: 700px) {
                    display: none;
                }

                // @media (max-width: 800px) {
                //     display: none;
                // }
            }
        }

        .right_nav {
            display: flex;
            gap: 1rem;
            align-items: center;
            .versions {
                .version {
                    outline: none;
                    border: 1px solid gray;
                    border-radius: 0.3rem;
                    padding: 0.2rem 0.7rem;
                    background-color: black;
                    color: white;
                    letter-spacing: 0.1rem;
                }

                @media (max-width: 700px) {
                    display: none;
                }
            }

            .sidemenu{
                display: none;
                @media (max-width: 700px) {
                    display: block;
                }
            }
            
        }
    }

  
}
