.playground_container {

    .content {
        .body {
            display: grid;
            grid-template-columns: auto 1fr auto;
            gap:1rem;

            .options{
                display:flex;
                flex-direction:column;

                button{
                    margin-bottom:1rem;

                    &:hover{
                        transform:scale(1.1);
                    }
                }
            }

            .cm-editor{
                width:45rem;
                height:40rem;
                border:1px solid gray;
                box-shadow: common.$boxShadow3;
                // border-radius:0.5rem;
            }

            .compiler{
                width:25rem;
                height:100%;
                background-color:black;
                border-radius:0.5rem;
                box-shadow: common.$boxShadow3;

                color:white;

                .error{
                    // color:#FF000024;
                }
            }
        }
    }
}
